export BNT_FOLDER='put here the folder containing the BNT distribution'
export SPATIAL_FOLDER='put here the folder containing the SPATIAL_V2 distribution'
export BNT_TIME_VARYING_FOLDER=./

mkdir -p $BNT_FOLDER/BNT/CPDs/@gaussian_CPD
mkdir -p $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD
mkdir -p $BNT_FOLDER/BNT/inference/@inf_engine
mkdir -p $BNT_FOLDER/KPMstats
mkdir -p $BNT_FOLDER/modifiedEM

cp -v   $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_CPD/maximize_params_modified.m $BNT_FOLDER/BNT/CPDs/@gaussian_CPD/maximize_params_modified.m

cp -v   $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_CPD/update_ess_modified.m $BNT_FOLDER/BNT/CPDs/@gaussian_CPD/update_ess_modified.m

cp -v   $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_CPD/updateCov_modified.m $BNT_FOLDER/BNT/CPDs/@gaussian_CPD/updateCov_modified.m

cp -v   $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/inference/@inf_engine/update_engine_modified.m $BNT_FOLDER/BNT/inference/@inf_engine/update_engine_modified.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/KPMstats/mixgauss_Mstep_modified.m $BNT_FOLDER/KPMstats/mixgauss_Mstep_modified.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/modifiedEM/clg_Mstep_modified.m $BNT_FOLDER/modifiedEM/clg_Mstep_modified.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/modifiedEM/learn_params_em_modified.m $BNT_FOLDER/modifiedEM/learn_params_em_modified.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/inference/@inf_engine/bnet_to_engine.m $BNT_FOLDER/BNT/inference/@inf_engine/bnet_to_engine.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/dynamics/ID.m $SPATIAL_FOLDER/dynamics/ID.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/dynamics/apply_external_forces.m $SPATIAL_FOLDER/dynamics/apply_external_forces.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/dynamics/jcalcderiv.m $SPATIAL_FOLDER/dynamics/jcalcderiv.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/rotxderiv.m $SPATIAL_FOLDER/spatial/rotxderiv.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/rotyderiv.m $SPATIAL_FOLDER/spatial/rotyderiv.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/rotzderiv.m $SPATIAL_FOLDER/spatial/rotzderiv.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/traslxderiv.m $SPATIAL_FOLDER/spatial/traslxderiv.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/traslyderiv.m $SPATIAL_FOLDER/spatial/traslyderiv.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/traslzderiv.m $SPATIAL_FOLDER/spatial/traslzderiv.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/crfmult.m $SPATIAL_FOLDER/spatial/crfmult.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/spatial/crmmult.m $SPATIAL_FOLDER/spatial/crmmult.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/featherstone/models/autoTreeNonPlanar.m $SPATIAL_FOLDER/models/autoTreeNonPlanar.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/convert_to_pot.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/convert_to_pot.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/gaussian_CPD_params_given_dps.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/gaussian_CPD_params_given_dps.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/gaussian_net_wrench_get_canonical_parameters.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/gaussian_net_wrench_get_canonical_parameters.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/get_field.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/get_field.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/gaussian_net_wrench_CPD.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/gaussian_net_wrench_CPD.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/modifiedEM/getQuadraticFormsForInertialParamsAESS.m $BNT_FOLDER/modifiedEM/getQuadraticFormsForInertialParamsAESS.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/modifiedEM/getQuadraticFormsForInertialParamsBESS.m $BNT_FOLDER/modifiedEM/getQuadraticFormsForInertialParamsBESS.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/maximize_params_modified.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/maximize_params_modified.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/set_fields.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/set_fields.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/update_ess_modified.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/update_ess_modified.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/updateCov_modified.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/updateCov_modified.m

cp -v  $BNT_TIME_VARYING_FOLDER/extern/bnt/BNT/CPDs/@gaussian_net_wrench_CPD/reset_ess.m $BNT_FOLDER/BNT/CPDs/@gaussian_net_wrench_CPD/reset_ess.m
