<?xml version='1.0'?>
<database>
<name>Claudia Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://threeLinkHumanLike</uri>
<uri>file://threeLinkHumanLikeSubj01</uri>
<uri>file://threeLinkHumanLikeSubj02</uri>
<uri>file://threeLinkHumanLikeSubj03</uri>
<uri>file://threeLinkHumanLikeSubj05</uri>
<uri>file://threeLinkHumanLikeSubj06</uri>
<uri>file://threeLinkHumanLikeSubj07</uri>
<uri>file://threeLinkHumanLikeSubj08</uri>
<uri>file://threeLinkHumanLikeSubj09</uri>
<uri>file://threeLinkHumanLikeSubj10</uri>
<uri>file://threeLinkHumanLikeSubj11</uri>
<uri>file://threeLinkHumanLikeSubj12</uri>
<uri>file://threeLinkHumanLikeSubj13</uri>
<uri>file://threeLinkHumanLikeSubj14</uri>
<uri>file://threeLinkHumanLikeSubj15</uri>
<uri>file://threeLinkHumanLikeSubj16</uri>
</models>
</database>