<?xml version='1.0'?>
<database>
<name>Claudia Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://threeLinkHumanLike</uri>
<uri>file://threeLinkHumanLikeSubj1</uri>
<uri>file://threeLinkHumanLikeSubj2</uri>
<uri>file://threeLinkHumanLikeSubj3</uri>
</models>
</database>