<?xml version="1.0"?>
<model>
    <name>threeLinkHuman</name>
    
    <version>1.0</version>
    <sdf>threeLinkHuman.urdf</sdf>
    
    <author>
        <name>Claudia Latella</name>
        <email>claudia.latella@iit.it</email>
    </author>
    
    <description>
        Model for a simple three link human-like model.
    </description>
</model>
